<span style='color: #000'>81 frames</span>	<span style='color: #900'>22,528 KB</span>	<span style='color: #090'>2,150.14 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br /><br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\TESIS PROYECTOS\Reportes_MYSQL_PHP\libs\dompdf\include\page_frame_decorator.cls.php</b> on line <b>439</b><br />
<br />
<b>Warning</b>:  A non-numeric value encountered in <b>C:\xampp\htdocs\TESIS PROYECTOS\Reportes_MYSQL_PHP\libs\dompdf\include\page_frame_decorator.cls.php</b> on line <b>439</b><br />
